* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body {
	background-color: hsl(233, 47%, 7%);
}

.contenedor {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: hsl(244, 38%, 16%);
	width: auto;
	margin: 1rem;
}

.foto {
	background: hsl(277, 64%, 61%);
}

img {
	width: 100%;
	opacity: 0.7;
}

.encabezado {
}

h2 {
	color: white;
	/* margin: 1rem; */
	/* padding-left: 3rem;
	padding-right: 3rem; */
	font-size: 2rem;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
}

span {
	color: hsl(277, 64%, 61%);
}

p {
	color: hsla(0, 0%, 100%, 0.6);
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
	/* padding-right: 1.4rem;
	padding-left: 1.4rem; */
	font-family: 'Lexend Deca', sans-serif;
}

.estadisticas {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.estadisticas div h3 {
	color: white;
}

h4 {
	color: hsla(0, 0%, 100%, 0.6);
	text-transform: uppercase;
	font-size: 1rem;
}

@media (min-width: 775px) {
	.contenedor {
		border-radius: 1rem;
		margin: 2rem;
	}

	.imagen {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		height: 25rem;
		border-radius: 1rem;
	}

	body {
		display: flex;
		align-items: center;
		align-content: center;
		align-self: center;
		height: 100vh;
	}

	.foto {
		border-radius: 0 1rem 1rem 0;
		width: 50%;
	}

	img {
		height: 25rem;
		border-radius: 0 1rem 1rem 0;
	}

	.encabezado {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 3rem;
		width: 50%;
	}

	.estadisticas {
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		text-align: left;
	}

	h2 {
		text-align: left;
	}

	p {
		text-align: left;
	}

	div {
		/* margin: 2.5rem;
		width: 1rem; */
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 0.8rem;
	}
}

@media (min-width: 1000px) {
	.contenedor {
		margin: 10rem;
	}

	.estadisticas {
		width: 70%;
		margin-top: 2rem;
	}

	h2 {
		font-size: 2rem;
		width: 90%;
	}

	p {
		width: 80%;
	}
}
